body{
	padding: 0;margin: 0;background: #fff;
}
*{font-family: times;}
@font-face {
  font-family: "song";src: url("//at.alicdn.com/wf/webfont/WkA4BLPrXimN/rePKuXp9tzK6oBkCegWRs.woff2") format("woff2"),
  url("//at.alicdn.com/wf/webfont/WkA4BLPrXimN/hxkts2h5McCg0tBm7gmXV.woff") format("woff");
  font-display: swap;
}
span.match{
  background-color:#f8dda9;
  border:1px solid #edd19b;
  margin:-1px;
}
nav{
  padding: 0 2.5%;
}
.uk-navbar-nav li a{
  font-size: 16px;
}
h1,h2{
  padding-top: 120px;
  font-size: 32px;
  font-family: times;
  font-weight: bold;
}
h3{
  font-size: 24px;
  font-family: times;
}
p{
  font-size: 18px;
}
p span{
  font-style:  italic;
}
.totop{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, .3);
  color: #fff;
  padding: 14px 10px;
}
.totop:hover{
  color: #fff;
}
.banner{
  background-color: #f7f7f7;
  padding-bottom: 80px;
  box-shadow: 0 0 15px #ddd;
  background-image: url(../media/bg.png);
  background-position: center right;
  background-repeat: no-repeat;
}
.video{
  max-width: 400px;
  margin: auto;
}
.video video,.video2 video{
  width: 100%;
  max-width: 400px;
  margin: auto;
}
.large-title{
  font-size: 42px;
  font-family: times;
  text-align: center;
  font-weight: bold;
  margin-top: 100px;
  color: #000;
}
.large-author{
  font-size: 20px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 120px;
}
.large-author p{
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 100%;
  font-size: 22px;
}
.img-model6{
  margin: 40px 0;
  width: 1000px;
  padding-bottom: 80px;
}
.img-model7{
  display: none;
}
@media (max-width: 768px) {
  .menu{display: none;}
  .large-title{font-size: 32px;}
  .large-author p{font-size: 18px;}
  h1,h2{padding-top: 40px;font-size: 28px;}
  p{font-size: 16px;}
  h3{font-size: 22px;}
  .img-list{
    width: 100%;
    height: auto;
    overflow-x: scroll;
  }
  .img-list-pic{
    width: 1200px;  
  }
  .img-list img{
    width: 100%;    
  }
  .img-model6{display: none;}
  .img-model7{display: inherit;margin-top: 40px;}
}